
body {
	width: 100%;
    max-width: 1600px;
    margin: 0 auto;
	background-color: #EBCEEB;
	font-family: arial;

}

img {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
    margin: 0 auto;
    max-width: 100%;
}

a {
	text-decoration: none;
	color: white;
	opacity: 0.9;
}

.stuck_images {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
    margin: 0 auto;
	width: 80vw;
}

.text_content {
  color: #232323;
  margin-left: 25%;
  margin-right: 25%;
  text-justify: inter-word;
  text-align: justify;
  will-change: transform;
  display: inline-block;
  padding-right: 10px;
  color: #9c9481;
  opacity: 0.7;
  margin-top: 40px;
  font-size: 15px;
  font-weight: bold;
  word-spacing: 3px;
  letter-spacing: 2px;
}


/* MEDIA QUERIES */

/* For mobile devices */
@media (max-width: 767px) {
  .stuck_images {
    width: 100%;  !important;
    height: auto;
  }
}

/* For laptops and larger screens */
@media (min-width: 768px) {
  .stuck_images {
    width: 42vw; !important;
    height: auto;
  }
}



/*                   HAMBURGER BEGINS                    */
/*-------------------------------------------------------*/
/*-------------------------------------------------------*/
/*-------------------------------------------------------*/

#menuToggle
{
  display: block;
  position: relative;
  top: 50px;
  left: 50px;
  
  z-index: 1;
  
  -webkit-user-select: none;
  user-select: none;
}

#menuToggle a
{
  text-decoration: none;
  color: blue;
  
  transition: color 0.3s ease;
}

#menuToggle a:hover
{
  color: blue;  /*--> LETTER COLOR ON HOVER */
}


#menuToggle input
{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  
  cursor: pointer;
  
  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */
  
  -webkit-touch-callout: none;
}

/*
 * Just a quick hamburger
 */
#menuToggle span
{
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  
  background: blue;
  border-radius: 3px;
  
  z-index: 1;
  
  transform-origin: 4px 0px;
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle span:first-child
{
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}

/* 
 * Transform all the slices of hamburger
 * into a crossmark.
 */
#menuToggle input:checked ~ span
{
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: blue;
}

/*
 * But let's hide the middle one.
 */
#menuToggle input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

/*
 * Ohyeah and the last one should go the other direction
 */
#menuToggle input:checked ~ span:nth-last-child(2)
{
  transform: rotate(-45deg) translate(0, -1px);
}

/*
 * Make this absolute positioned
 * at the top left of the screen
 */
#menu
{
  position: absolute;
  width: 300px;
  margin: -100px 0 0 -50px;
  padding: 50px;
  padding-top: 125px;
  
  background: #cdcdcd;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */
  
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menu li
{
  padding: 10px 0;
  font-size: 22px;
}

/*
 * And let's slide it in from the left
 */
#menuToggle input:checked ~ ul
{
  transform: none;
}


#menuToggle
{
  display: block;
  position: relative;
  top: 50px;
  left: 50px;
  
  z-index: 1;
  
  -webkit-user-select: none;
  user-select: none;
}

#menuToggle a
{
  text-decoration: none;
  color: blue;
  
  transition: color 0.3s ease;
}

#menuToggle a:hover
{
  color: blue;    /*--> LETTER COLOR ON HOVER */
}


#menuToggle input
{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  
  cursor: pointer;
  
  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */
  
  -webkit-touch-callout: none;
}

/*
 * Just a quick hamburger
 */
#menuToggle span
{
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  
  background: blue;
  border-radius: 3px;
  
  z-index: 1;
  
  transform-origin: 4px 0px;
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle span:first-child
{
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}

/* 
 * Transform all the slices of hamburger
 * into a crossmark.
 */
#menuToggle input:checked ~ span
{
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: blue;
}

/*
 * But let's hide the middle one.
 */
#menuToggle input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

/*
 * Ohyeah and the last one should go the other direction
 */
#menuToggle input:checked ~ span:nth-last-child(2)
{
  transform: rotate(-45deg) translate(0, -1px);
}

/*
 * Make this absolute positioned
 * at the top left of the screen
 */
#menu
{
  position: absolute;
  width: 300px;
  margin: -100px 0 0 -50px;
  padding: 50px;
  padding-top: 125px;
  
  background: #caf3a9;  /* OVDJE JE BOJA POZADINE MENIJA */
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */
  
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menu li
{
  padding: 10px 0;
  font-size: 22px;
}

/*
 * And let's slide it in from the left
 */
#menuToggle input:checked ~ ul
{
  transform: none;
}

/*                    HAMBURGER ENDS                     */
/*-------------------------------------------------------*/
/*-------------------------------------------------------*/
/*-------------------------------------------------------*/

/*                  TRAKICA BEGINS                      */
/*------------------------------------------------------*/
/*------------------------------------------------------*/
.container {
  overflow: hidden;
  white-space: nowrap;
  

}

.scrolling {
  will-change: transform;
  animation: marquee 700s linear infinite;
  display: inline-block;
  padding-right: 10px;
  color: white;
  opacity: 0.7;
  margin-top: 40px;
  opacity: 0.7;
  font-size: 50px;
  font-weight: bold;
  word-spacing: 14px;
  letter-spacing: 7px;

}

@keyframes marquee {
  from {
    transform: translateX(0);
  }
  to { 
    transform: translateX(-100%);
  }
}

/*                TRAKICA ENDS                          */
/*------------------------------------------------------*/
/*------------------------------------------------------*/

.fixedElement {
    background-color: #8cdee3;
    opacity: 0.5;
    position:fixed;
    top:0;
    width:100%;
    z-index:100;
}


button {
   font-family: Arial;
   border: none;
   padding: 10px 10px;
   text-decoration: none;
   font-size: 15px;

  font-weight: bolder;
  word-spacing: 5px;
  letter-spacing: 5px;

}

button:hover {
  color: blue;
 
}
